{% extends "layout.html" %} {% block body %}
<div class="container">
    <div class="messages-container">
        <h3>Chat</h3>
        <div class="search-bar">
            <form class="search-form" method="post">
                {% csrf_token %}

                <div class="input-group">
                    <input type="search" class="search-query form-control" name="search_query" autocomplete="off" placeholder="Search" value="{{ search_query }}">
                    <div class="input-group-append">
                        <div class="input-group-text search-icon"><i class="fa fa-search"></i></div>
                    </div>
                </div>
            </form>

            <div class="search-results">

            </div>
        </div>
        <div class="contacts">

        </div>



        <div class="profile">{{user.username}}</div>
    </div>


    <div class="chat-container">
        <div class="chat-info">
            <div class="CurrentUsername">username</div>
            <div class="call">call</div>
            <div class="info">info</div>
        </div>
        <div class="chat"></div>
        <form class="message-form" method="post" action="{% url 'send_message' %}">
            {% csrf_token %}
            <input type="text" class="message" name="message" placeholder="Message...">
            <input type="hidden" name="receiver" id="receiver" value="">
            <button type="submit" class="send-btn">Send</button>
        </form>
    </div>


</div>
{% endblock %}