{% extends "layout.html" %} {% block body %}
<div class="container">
    <div class="messages-container">
        <h3>Chat</h3>
        <div class="search-bar">
            <form class="search-form" method="post">
                {% csrf_token %}
                <input type="text" class="search-query" name="search_query" placeholder="Enter username" value="{{ search_query }}">
                <button class="search-btn" type="submit">Search</button>
            </form>

            <ul class="search-results">
                {% for user in users %}
                <li>
                    <a href="#" class="search-result" data-username="{{ user.username }}">{{ user.username }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="contacts">
            {% for contact in contacts %}
            <p class="contact" data-username="{{ contact.username }}">
                {{ contact.username }}
                <span class="last-message-timestamp">
                        {% if contact.last_message %}
                            : {{ contact.last_message }}
                        {% else %}
                            No Messages
                        {% endif %}
                    </span>
            </p>
            {% endfor %}
        </div>

        <div class="profile">{{user.username}}</div>
    </div>


    <div class="chat-container">
        <div class="chat-info">
            <div class="username">username</div>
            <div class="call">call</div>
            <div class="info">info</div>
        </div>
        <div class="chat"></div>
        <form class="message-form" method="post" action="{% url 'send_message' %}">
            {% csrf_token %}
            <input type="text" class="message" name="message" placeholder="Message...">
            <input type="hidden" name="receiver" id="receiver" value="">
            <button type="submit" class="send-btn">Send</button>
        </form>
    </div>


</div>
{% endblock %}