:root {
    --black: black;
    --dark-gray: hwb(0 7% 93%);
    --mid-gray: #1f1f1f;
    --gray: #282828;
    --light-gray: #383838;
    --whitish: #868686;
    --light-purple: #b8a3d8;
    --dark-purple: #614097;
    --purple: #8a6cbb;
}

body {
    background-color: black;
    color: white;
}

a,
a:hover {
    color: var(--light-purple);
}

.btn {
    color: white;
    border-color: var(--light-purple);
}

input[type='submit'] {
    margin: 10px 0;
    background-color: var(--dark-gray);
}

.btn:hover,
.btn:active {
    color: black;
    background-color: var(--light-purple) !important;
    border-color: var(--light-purple) !important;
    box-shadow: 0 0 0 .1rem var(--light-purple) !important;
}

.btn:focus {
    box-shadow: 0 0 0 .1rem var(--light-purple) !important;
}

.form-control,
.form-control:focus {
    background-color: var(--light-gray);
    color: white;
}

.form-control:focus {
    box-shadow: 0 0 0 .2rem var(--light-purple);
    border-color: white;
}

.form-control:disabled {
    background-color: var(--gray);
    opacity: .7;
}

input:-webkit-autofill {
    -webkit-text-fill-color: white;
    transition: background-color 5000s ease-in-out 0s;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 80vh;
}

.login input[type='submit'] {
    width: 100%;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    padding: 0;
    max-width: 1200px;
}

.messages-container {
    width: 35%;
    display: flex;
    flex-direction: column;
    background-color: var(--dark-gray);
    border-right: 1px solid var(--light-gray);
}

h3 {
    margin: 10px auto 20px;
}

.search-form {
    display: flex;
    width: 90%;
    margin: auto;
    margin-bottom: 30px;
}

.search-query {
    flex: 1;
    background-color: var(--gray);
    border: none;
    border-radius: 10px;
}

.search-query::placeholder {
    color: var(--whitish);
}

.search-query:focus {
    box-shadow: none;
    background-color: var(--light-gray);
}

.search-query:hover {
    background-color: var(--light-gray);
}

.search-query:hover+.input-group-append .search-icon {
    background-color: var(--light-gray);
}

.search-query:focus+.input-group-append .search-icon {
    background-color: var(--light-gray);
}

.search-icon {
    border: none;
    border-radius: 10px;
    color: var(--whitish);
    background-color: var(--gray);
}

input[type=search]::-webkit-search-cancel-button:hover {
    cursor: pointer;
}

input[type=search]::-webkit-search-cancel-button {
    position: relative;
    left: 10px;
    filter: invert(50%) sepia(100%) saturate(0%);
}

.search-result .contact-name {
    margin-left: 10px;
    margin-top: 15px;
}

.contacts {
    max-height: 100%;
    overflow-y: auto;
}

.contacts::-webkit-scrollbar {
    width: 3px;
    scroll-margin-right: 10px;
}

.contacts::-webkit-scrollbar-thumb {
    background: var(--light-gray);
    border-radius: 4px;
}

.contact.selected {
    background-color: var(--mid-gray);
}

.contact.selected:hover {
    background-color: var(--gray);
}

.no-contacts,
.no-search-results,
.select-chat {
    margin-top: 37vh;
    text-align: center;
    color: var(--whitish);
}

.no-search-results {
    margin-top: 30vh;
}

.contact {
    display: flex;
    background-color: var(--dark-gray);
    padding: 10px;
}

.contact:hover {
    cursor: pointer;
    background-color: var(--gray);
}

.contact-details {
    display: flex;
    flex: 1;
}

.name-last-message-container {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    flex-grow: 1;
}

.contact-name {
    max-width: 20vw;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.last-message {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 20vw;
    color: var(--whitish);
}

@media screen and (min-width: 1200px) {
    .last-message {
        max-width: 300px;
    }
    .contact-name {
        max-width: 300px;
    }
}

.new-message-indicator {
    color: var(--light-purple);
    font-size: 50px;
    line-height: 15px;
    margin-left: 5px;
}

.profile-pic,
.profile-pic img {
    display: inline-block;
    min-width: 50px;
    min-height: 50px;
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
    color: white;
    text-align: center;
    line-height: 50px;
    font-size: 22px;
}

.profile-pic img {
    margin-bottom: 10px;
}

.profile-pic:not(:has(img[src])) {
    background-color: var(--light-purple);
}

.profile {
    display: flex;
    align-items: center;
    margin-top: auto;
    padding: 5px 10px;
    background-color: var(--mid-gray);
}

.profile .profile-pic {
    scale: .85;
}

.profile:hover {
    cursor: pointer;
    background-color: var(--light-gray);
}

.profile-username {
    margin-left: 10px;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.modal-overlay {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    overflow: auto;
}

.modal-content {
    background-color: var(--gray);
    color: white;
    margin: 10% auto;
    width: 60%;
    max-width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    border-radius: 10px;
}

.profile-header {
    padding: 15px 20px 5px;
    background-color: var(--dark-purple);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.close-btn {
    position: absolute;
    top: 8px;
    right: 15px;
    cursor: pointer;
    font-size: 25px;
}

.profile-content {
    background-color: var(--gray);
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    padding: 40px 20px;
    border-radius: 10px;
}

#profileUsername {
    font-size: 20px;
    margin-top: 10px;
    max-width: 80%;
    overflow-wrap: break-word;
    text-align: center;
}

#profilePic,
#profilePic img {
    width: 60px;
    height: 60px;
    line-height: 55px;
    font-size: 30px;
}

.profile-pic-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.edit-profile-button {
    color: white;
    border-radius: 10px;
    padding: 5px 10px;
    margin-top: 20px;
    font-size: 16px;
    cursor: pointer;
}

.edit-profile-pic,
.remove-profile-pic-button {
    padding: 5px 6.5px;
    font-size: 6px;
    background-color: var(--mid-gray);
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0;
}

.edit-profile-pic:hover,
.remove-profile-pic-button:hover {
    background-color: var(--mid-gray);
    color: white;
    box-shadow: none;
    scale: 1.2;
}

.remove-profile-pic-button {
    bottom: auto;
    top: 0;
    font-size: 13px;
    padding: 0px 5px;
}

.remove-profile-pic-button:focus {
    box-shadow: none;
}

.x {
    position: relative;
    top: -2px;
}

.profile-form {
    text-align: center;
}

.profile-form input[type="text"] {
    margin-top: 15px;
    background-color: var(--mid-gray);
    color: white;
    border: none;
    border-radius: 10px;
    outline: none;
    padding: 5px 10px;
    font-size: 20px;
    text-align: center;
}

.profile-form input[type="text"]:focus {
    box-shadow: none;
    background-color: var(--dark-gray);
}

.profile-form input[type="text"]:hover {
    background-color: var(--dark-gray);
}

.profile-form input[type="text"]::placeholder {
    color: var(--whitish);
}

.profile-form button {
    margin-left: auto;
    margin-right: auto;
}

#profileMessage {
    font-size: 12px;
    color: var(--whitish);
}

.logout-button {
    display: inline-block;
    margin-top: 20px;
    border-radius: 10px;
}

.chat-container {
    background-color: var(--dark-gray);
    flex: 1;
    display: flex;
    flex-direction: column;
    max-width: 65%;
}

.chat-info {
    display: flex;
    align-items: center;
    background-color: var(--purple);
    color: white;
    height: 50px;
    padding: 10px;
}

.chat-info .profile-pic {
    scale: 0.7;
}

.chat-info .contact-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
}

.chat {
    flex: 1;
    margin: 0 3px 10px 10px;
    max-height: 100%;
    overflow-y: auto;
}

.chat::-webkit-scrollbar {
    width: 3px;
    margin-top: 10px;
}

::-webkit-scrollbar-track {
    margin-block: 5px;
}

.chat::-webkit-scrollbar-thumb {
    background: var(--light-gray);
    border-radius: 4px;
}

.message-wrapper {
    display: flex;
    margin-top: 10px;
    align-items: center;
    position: relative;
}

.sent-message,
.received-message {
    margin: 0;
    margin-right: auto;
    background-color: var(--gray);
    padding: 5px 10px;
    border-radius: 20px;
    word-wrap: break-word;
    max-width: 35vw;
}

.sent-message {
    background-color: var(--dark-purple);
    margin-left: auto;
    margin-right: 18px;
}

.message-status {
    font-size: 12px;
    color: var(--whitish);
    margin: 0 2px 5px 5px;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateY(10px);
}

.message-form {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    padding: 5px;
}

.message {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: var(--gray);
    color: white;
    font-size: 16px;
    outline: none;
}

.send-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: var(--purple);
    color: white;
    font-size: 16px;
}

.send-btn:hover {
    background-color: var(--dark-purple);
}

.send-btn:focus {
    outline: none;
}