:root {
    --black: black;
    --dark-gray: #121212;
    --gray: #282828;
    --light-gray: #383838;
    --whitish: #a1a1a1;
    --purple: #C3B1E1;
    --dark-purple: #8a6cbb;
}

body {
    background-color: var(--dark-gray);
    color: white;
}

a,
a:hover {
    color: var(--purple);
}

.btn {
    color: white;
    border-color: var(--purple);
}

input[type='submit'] {
    margin: 10px 0;
    background-color: var(--dark-gray);
}

.btn:hover,
.btn:active {
    color: black;
    background-color: var(--purple);
    border-color: var(--purple);
    box-shadow: 0 0 0 .1rem var(--dark-purple);
}

.btn:focus {
    box-shadow: 0 0 0 .1rem var(--dark-purple);
}

.form-control,
.form-control:focus {
    background-color: var(--light-gray);
    color: white;
}

.form-control:focus {
    box-shadow: 0 0 0 .2rem var(--dark-purple);
    border-color: white;
}

.form-control:disabled {
    background-color: var(--gray);
    opacity: .7;
}

input:-webkit-autofill {
    -webkit-text-fill-color: white;
    transition: background-color 5000s ease-in-out 0s;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 80vh;
}

.login input[type='submit'] {
    width: 100%;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    padding: 0;
    max-width: 1200px;
}

.messages-container {
    width: 35%;
    display: flex;
    flex-direction: column;
    background-color: var(--dark-gray);
    border-right: 1px solid var(--light-gray);
}

h3 {
    margin: 10px auto 20px;
}

.search-form {
    display: flex;
    width: 90%;
    margin: auto;
    margin-bottom: 30px;
}

.search-query {
    flex: 1;
    background-color: var(--gray);
    border: none;
    border-radius: 10px;
}

.search-query::placeholder {
    color: var(--whitish);
}

.search-query:focus {
    box-shadow: none;
    background-color: var(--light-gray);
}

.search-query:focus+.input-group-append .search-icon {
    background-color: var(--light-gray);
}

.search-icon {
    border: none;
    border-radius: 10px;
    color: var(--whitish);
    background-color: var(--gray);
}

input[type=search]::-webkit-search-cancel-button:hover {
    cursor: pointer;
}

input[type=search]::-webkit-search-cancel-button {
    position: relative;
    left: 10px;
    filter: invert(50%) sepia(100%) saturate(0%);
}

.search-results {
    display: none;
}

.contact {
    background-color: var(--dark-gray);
    padding: 10px;
}

.contact:hover {
    cursor: pointer;
    background-color: var(--gray);
}

.profile-pic {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--purple);
    color: white;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    margin-right: 10px;
}

.contact-name {
    display: inline-block;
    vertical-align: middle;
    color: white;
    font-size: 16px;
}

.contact.selected {
    background-color: var(--gray);
}

.profile {
    margin-top: auto;
    margin-bottom: 5px;
}

.chat-container {
    background-color: var(--dark-gray);
    flex: 1;
    display: flex;
    flex-direction: column;
}

.chat-info {
    display: flex;
    align-items: center;
    background-color: #8a6cbb;
    height: 50px;
    padding: 10px;
}

.call {
    margin-left: auto;
    margin-right: 5px;
}

.chat {
    flex: 1;
}

.message-wrapper {
    display: flex;
    margin: 10px 0;
    align-items: center;
}

.sent-message {
    margin-left: auto;
}

.message-status {
    font-size: 12px;
    color: #999;
    margin: 0 0 5px 5px;
}

.message-form {
    margin-bottom: 5px;
    display: flex;
}

.message {
    flex: 1;
}